<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <!-- Add these line for detecting device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <!-- Our layouts/_navbar.scss code works well with our home-made ERB template which you can find here:

    version without login.
    version with login.
    Don't forget that *.html.erb files go in the app/views folder, and *.scss files
    go in the app/assets/stylesheets folder. Also, our navbar have a link to the root_path,
    so make sure that you have a root to: "controller#action" route in your config/routes.rb file. -->

    <%= yield %>

  </body>
</html>
